body {
  background-color: rgb(243, 242, 242);
}
.loginSub {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  width: 50vh;
  background-color: rgb(255, 255, 255);
  height: auto;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(189, 189, 189);
}
.insatt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#outlined-multiline-flexible {
  width: 36vh;
  height: 2.5vh !important;
}
.texttt {
  margin-left: 5vh;
}
.loginn {
  background-color: #0066ffc9;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 40vh;
  height: 4.5vh;
  border-radius: 5px;
  margin-left: 5vh;
}
.loginn:hover {
  background-color: #0066ffa1;
}

.separator {
  display: flex;
  align-items: center;
}

.separator .line {
  height: 1px;
  flex: 1;
  background-color: rgb(155, 155, 155);
}

.sor {
  padding: 0 1rem;
  color: rgb(119, 119, 119);
}
.sorfac {
  color: rgb(13, 13, 143);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  text-align: center;
}
.sorforg {
  color: rgb(80, 80, 80);

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  text-align: center;
}
.loginSub2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  width: 50vh;
  background-color: rgb(255, 255, 255);
  height: 8vh;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(189, 189, 189);
}
.signUpaa {
  color: rgb(0, 132, 255);
  font-weight: bold;
}
.appds {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35vh;
  cursor: pointer;
}
